@import "~bootstrap/scss/bootstrap";

body {
  background-color:slategray;
}

.pinterestScript {
  display: flex;
  align-content: center;
}

.logIn {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.hide {
  display: none;
}